.Correct {
    color: green;
    font-size: 25px;
    width: "100%";
}

.InCorrect {
    font-size: 25px;
    color: red;
    width: "100%";
}

.Active {
    font-size: 25px;
    width: "100%";
    font-weight: bold;
    border: 2px solid #31363d;
}


.Text {
    font-size: 30px;
    /* width: "100%"; */
}